<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="estilos1/estilo2.css" rel="stylesheet" />
</head>
<body>
	<section>
		<div class="for_Registro">

			<table>
				<h1>Aspirante</h1>
				<hr>
				<div class="Alerta">
					<form action="post">

						<tr>
							<td width="25%" class="etiquetaC2">INGRESO:</td>
							<td width="25%" class="campoC3">
								
							</td>
							<td width="25%" class="etiquetaC2"> </td>
							<td width="25%">


							</td>
						</tr>
						<tr>
							<td width="25%" class="etiquetaC2">* NOMBRE:</td>
							<td width="25%">
								<input type="text" name="fnombre" id="fnombre" tabindex="2" maxlength="50" size="27" class="texto2" value="">
							</td>
							<td class="etiquetaC2"> </td>
							<td>

							</td>
						</tr>

						<tr>
							<td class="etiquetaC2">* APELLIDO PATERNO: </td>
							<td>
								<input type="text" name="fapellidopat" id="fapellidopat" tabindex="3" maxlength="50" size="27" class="texto2" value="">
							</td>
							<td class="etiquetaC2"> </td>
							<td>

							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">* APELLIDO MATERNO: </td>
							<td>
								<input type="text" name="fapellidomat" id="fapellidomat" tabindex="4" maxlength="50" size="27" class="texto2" value="">
							</td>
							<td class="etiquetaC2"></td>
							<td>

							</td>
						</tr>
						<tr>
							<td class="etiquetaC2"> </td>
							<td valign="middle">

								
							<td class="etiquetaC2">CARRERA  A  ELEGIR: </td>
							<td>
								<select name="fcarrera_sol2" class="texto2" style="width:250px">
									<option></option>
									<option value="1">
										INGENIERÍA MECATRÓNICA
									</option>
									<option value="2"> INGENIERÍA INDUSTRIAL</option>
									<option value="3">
										INGENIERÍA QUÍMICA
									</option>
									<option value="4"> INGENIERÍA FINANCIERA</option>
									<option value="5">
										INGENIERÍA EN BIOTECNOLOGÍA
									</option>
									<option value="6">
										INGENIERÍA EN TECNOLOGÍAS DE LA INFORMACIÓN
									</option>
									<option value="8">
										INGENIERÍA EN SISTEMAS AUTOMOTRICES
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">* ADEUDA MATERIAS:</td>
							<td class="texto2">
								<input type="radio" name="hm" value="h" required> SI
								<input type="radio" name="hm" value="m"> NO
							</td>
							<td class="etiquetaC2">         </td>
							<td>
								


							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">* FOTOGRAFÍA DE ACTA DE NACIMIENTO:</td>
							<td>
								<div class="form-group">
									<!-- input subir archivo-->
									<input type="file" class="form-control filestyle" name="userfile" id="userfile" data-buttontext="Archivo" data-buttonbefore="true">

									<button type="submit" class="btn btn-sm btn-primary">
										Subir documentación

									</button>
								</div>
							</td>
							<td class="etiquetaC2">* FOTOGRAFÍA DE CURD:  </td>
							<td>
								<div class="form-group">
									<!-- input subir archivo-->
									<input type="file" class="form-control filestyle" name="userfile" id="userfile" data-buttontext="Archivo" data-buttonbefore="true">

									<button type="submit" class="btn btn-sm btn-primary">
										Subir documentación

									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">* FOTOGRAFÍA DE COMPROBANTE DE DOMICILIO: </td>
							<td class="Estilo10">
								<div class="form-group">
									<!-- input subir archivo-->
									<input type="file" class="form-control filestyle" name="userfile" id="userfile" data-buttontext="Archivo" data-buttonbefore="true">

									<button type="submit" class="btn btn-sm btn-primary">
										Subir documentación

									</button>
								</div>
							</td>
							<td class="etiquetaC2">* FOTOGRAFÍA DE 3 AÑO DE SECUNDARIA: </td>
							<td>
								<div class="form-group">
									<!-- input subir archivo-->
									<input type="file" class="form-control filestyle" name="userfile" id="userfile" data-buttontext="Archivo" data-buttonbefore="true">

									<button type="submit" class="btn btn-sm btn-primary">
										Subir documentación

									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">&nbsp; </td>
							<td>&nbsp;		</td>
							<td  class="columnaC3">   </td>
						</tr>
						<tr>
							<td class="etiquetaC2">* FOTOGRAFÍA DEL ASPIRANTE :</td>
							<td>
								<div class="form-group">
									<!-- input subir archivo-->
									<input type="file" class="form-control filestyle" name="userfile" id="userfile" data-buttontext="Archivo" data-buttonbefore="true">

									<button type="submit" class="btn btn-sm btn-primary">
										Subir documentación

									</button>
								</div>
							</td>
							<td class="etiquetaC3">* FOTOGRAFÍA FICHA ADMISIÓN: </td>
							<td class="campoC3">
								<div class="form-group">
									<!-- input subir archivo-->
									<input type="file" class="form-control filestyle" name="userfile" id="userfile" data-buttontext="Archivo" data-buttonbefore="true">

									<button type="submit" class="btn btn-sm btn-primary">
										Subir documentación

									</button>
								</div>   
							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">* FOTOGRAFÍA DEL FORMATO DE INSCRIPCIÓN: </td>
							<td>
								<div class="form-group">
									<!-- input subir archivo-->
									<input type="file" class="form-control filestyle" name="userfile" id="userfile" data-buttontext="Archivo" data-buttonbefore="true">

									<button type="submit" class="btn btn-sm btn-primary">
										Subir documentación

									</button>
								</div>
							</td>
							<td  class="etiquetaC3">&nbsp;</td>
							<td  class="campoC3">&nbsp;</td>
						</tr>
						<tr>
							<td class="etiquetaC2"> ASPECTO DE SALUD </td>
							<td>
								
							</td>


							<td  class="etiquetaC3"> </td>
							<td  class="campoC3">
							
							</td>

						</tr>
						<tr>
							<td class="etiquetaC2">* PADECE ALGUNA ENFERMEDAD: </td>
							<td>
								<input type="radio" name="hm" value="h" required> SI
								<input type="radio" name="hm" value="m"> NO
								<textarea name="texto" rows="4" cols="40">Escriba algo</textarea>
							</td>

							<td class="etiquetaC2">* TIENES ALÉRGIAS:</td>
							<td>
								<input type="radio" name="hm" value="h" required> SI
								<input type="radio" name="hm" value="m"> NO
								<textarea name="texto" rows="4" cols="40">Escriba algo</textarea>
							</td>
						</tr>

						<tr>
							<td class="etiquetaC2"> ASPECTO EMOCIONAL  </td>
							<td>
								
							</td>
							<td class="etiquetaC2"> </td>
							<td>
							</td>
						</tr>
						<tr>

							<td class="etiquetaC2">* SUFRES DE ANSIEDAD:</td>
							<td>
								<input type="radio" name="hm" value="h" required> SI
								<input type="radio" name="hm" value="m"> NO
								
							</td>

							<td class="etiquetaC2">*  SUFRES DE ESTRÉS:  </td>
							<td>
								<input type="radio" name="hm" value="h" required> SI
								<input type="radio" name="hm" value="m"> NO

							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">* SUFRES DE DEPRESIÓN : </td>
							<td>
								<input type="radio" name="hm" value="h" required> SI
								<input type="radio" name="hm" value="m"> NO
							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">* TE SIENTES RECHAZADO POR SU FAMILIA O TUS AMIGOS: </td>
							<td>
								<input type="radio" name="hm" value="h" required> SI
								<input type="radio" name="hm" value="m"> NO
							</td>
						</tr>
						<tr>
							<td class="etiquetaC2">*NO TE ADAPTAS FÁCILMENTE A CAMBIOS: </td>
							<td>
								<input type="radio" name="hm" value="h" required> SI
								<input type="radio" name="hm" value="m"> NO
							</td>
							<td class="etiquetaC2"></td>
							<td>

						</tr>
						<tr>
							<td class="etiquetaC2"> </td>
							<td>
								
							</td>
							<td class="etiquetaC2"> </td>
							<td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td align="right"><input onclick="pregunta()" type="submit" name="Submit" id="envia" value="Enviar" class="boton1"></td>
							<td><input type="reset" name="Cancelar" value="Cancelar" class="boton1"></td>
						</tr>


					</form>
				</div>
			</table>

		</div>
	</section>
</body>
</html>
