<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Captura de calificaciones</title>
    <link href="code/assets/css/estilos.css" rel="stylesheet" />
    <link href="estilos1/estilo2.css" rel="stylesheet" />
</head>


<body>
    <section>
        <div class="for_Registro">


            <h1>Capturar calificaciones</h1>
            
            <table>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td height="20" valign="middle" class="campoC1">PROFESOR: <span class="campo1">GIOVANNY ESTEAN MUÑOZ MARTINEZ   </span></td>
                            <td width="302" class="campoC1">No. DE CUENTA:<span class="campo1"> 83760 </span></td>
                        </tr>
                        <tr>
                            <td class="campoC1">MATERIA: <span class="campo1"> PROGRAMACIÓN WEB </span></td>
                            <td class="campoC1">ESTATUS:<span class="campo1"> PRNDIENTE </span>      </td>
                        </tr>

                        <tr class="campoC2">
                            <td class="campoC1"> </td>
                            <td class="campoC1">   <input type="submit" value="ENVIAR  CALIFICACIONES">  </td>
                            
                        </tr>

                    </tbody>
                </table>
                <hr>

                <div class="Alerta">
                    <table width="100%" border="0">
                        <tbody>
                            <tr>
                                <td class="columnaC2">MATRICULA</td>
                                <td class="columnaC2">NOMBRE ALUMNO</td>
                                <td class="columnaC2">PARCIALES</td>
                                <td class="columnaC2">CALIFICACIÓN FINA</td>

                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr><td></td><td></td> <td><table width="100%"><tbody><tr><td>PARCIAL 1</td><td>PARCIAL 2</td><td>PACIAL 3</td><td>PARCIAL4</td></tr></tbody></table></td></tr>
                            <tr>
                                <td><span class="texto2"><input type="number" name="idAlerta" placeholder="Matricula"></span></td>
                                <td>
                                    <span class="texto2">
                                        
                                        <input type="text" name="Nombre" placeholder="Nombre">
                                        
                                    </span>
                                </td>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#FFCCCC">
                                                   
                                                    <input type="numerico" name="Pacial 1" placeholder="Pacial 1">
                                                </td>
                                                <td bgcolor="#FFCCCC">
                                                    
                                                    <input type="P2" name="Pacial 2" placeholder="Pacial 2">
                                                </td>
                                                <td bgcolor="#FFCCCC">
                                                    
                                                    <input type="Pacial 3" name="Pacial 3" placeholder="Pacial 3">
                                                </td>
                                                <td bgcolor="#FFCCCC">
                                                    
                                                    <input type="Pacial 4" name="Pacial 4" placeholder="Pacial 4">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <span class="texto2">
                                       
                                        <input type="text" name="texto" value="   " readonly
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>





                </div>

</div>
    </section>



</body>
</html>
