<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Captura de calificaciones</title>
	<link href="estilos1/estilo2.css" rel="stylesheet" />
</head>


<body>

	<section>
		<div class="for_Registro">
			
			<table>

				<h1>INSCRIBIR ALUMNOS</h1>
				<hr>
				<div class="Alerta">
					<form action="post">
						<form action="post">
							<tr>
								<td width="25%" class="etiquetaC2">* MATRICULA DE ASPIRANTE: </td>
								<td width="25%" class="campoC3">
									<input type="text" name="MATRICULA" id="MATRICULA" maxlength="110" size="27" tabindex="15" class="texto2" value="">
								</td>
								<td width="25%" class="etiquetaC2">* DOMICILIO: </td>
								<td width="25%">
									<input type="text" name="Domicilio" id="Domicilio" maxlength="110" size="27" tabindex="15" class="texto2" value="">
								</td>
							</tr>

							<tr>
								<td width="25%" class="etiquetaC2">* PADRE DE FAMILIA: </td>
								<td width="25%" class="campoC3">
									<input type="text" name="PadreF" id="PadreF" maxlength="110" size="27" tabindex="15" class="texto2" value="">
								</td>
								<td width="25%" class="etiquetaC2">* TELÉFONO: </td>
								<td width="25%">
									<input type="tel" name="telefono">
								</td>
							</tr>
							<tr>
								<td width="25%" class="etiquetaC2">* MADRE DE FAMILIA: </td>
								<td width="25%" class="campoC3">
									<input type="text" name="PadreF" id="PadreF" maxlength="110" size="27" tabindex="15" class="texto2" value="">

								</td>
								<td width="25%" class="etiquetaC2">* TELÉFONO: </td>
								<td width="25%">
									<input type="tel" name="telefono">
								</td>
							</tr>
							<tr>
								<td </td>
								<td>
								</td>
								<td </td>
								<td width="25%">
									<input type="submit" value="INSCRIBIR ALUMNOS">
								</td>
							</tr>

						</form>
				</div>
			</table>
		</div>
	</section>



</body>
</html>
