<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Captura de calificaciones</title>
	<link href="code/assets/css/estilos.css" rel="stylesheet" />
	<link href="estilos1/estilo2.css" rel="stylesheet" />
</head>


<body>
	<section>
		<div class="for_Registro">


			<h1>CALIFICACIONES</h1>

			<table>


				<table width="100%" border="0">
					<tbody>
						<tr>
							<td </td>
						</tr>

						<tr>
							<td colspan="2"></td>
						</tr>
						<tr>
							<td height="20" valign="middle" class="campoC1">NOMBRE DEL ALUMNO: <span class="campo1"> OMAR MUñOZ MORALES </span></td>
							<td width="302" class="campoC1">No. DE CUENTA:<span class="campo1">2011113760</span></td>
						</tr>
						<tr>
							<td class="campoC1">CARRERA: <span class="campo1"> INGENIERÍA EN TECNOLOGÍAS DE LA INFORMACIÓN </span></td>
							<td class="campoC1">PERIÓDO:<span class="campo1">MAYO-AGOSTO 2020</span>      <!--PROMEDIO DEL PERIODO:--></td>
						</tr>

						<tr class="campoC2">
							<td class="campoC1">ADEUDA <span class="campoC3"></span> MATERIAS<br> USTED ES <span class="campoC3">REGULAR</span><br></td>
							<td class="campoC1">MATERIAS QUE ADEUDA: <br><span class="campoC3"></span>      <!--PROMEDIO DEL PERIODO:--></td>
						</tr>
					</tbody>
				</table>
				<hr>

				<table width="100%" border="0">
					<tbody>
						<tr>
							<td class="columnaC2">MATERIA</td>
							<td class="columnaC2">PROFESOR</td>
							<td class="columnaC2">GRUPO</td>
							<td class="columnaC2">ESTATUS</td>
							<td class="columnaC2">PARCIALES</td>
							<td class="columnaC2">CALIFICACIÓN</td>
							<td class="columnaC2">TIPO</td>
							<td class="columnaC2">F. REG</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr><td></td><td></td><td></td><td></td><td><table width="100%"><tbody><tr><td>%</td><td>%</td><td>%</td><td>%</td></tr></tbody></table></td></tr>
						<tr><td><span class="texto2">PROGRAMACIÓN WEB</span></td><td><span class="texto2">GIOVANNY ESTEBAN MUÑOZ MARTINEZ</span></td><td align="center"><span class="texto2">83760</span></td><td align="center"><span class="textoVerde">PENDIENTE</span></td><td><table width="100%"><tbody><tr><td bgcolor="#FFCCCC"></td><td bgcolor="#FFCCCC"></td><td bgcolor="#FFCCCC"></td><td bgcolor="#FFCCCC"></td></tr></tbody></table></td><td align="center"><span class="texto2"></span></td><td align="center"><span class="texto2">O</span></td><td><span class="texto2"></span></td></tr>
						
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
						</tr>
					</tbody>
				</table>

			</table>
		</div>
	</section>



</body>
</html>
